@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{

  .feathered {
    box-shadow: 10px 10px 50px rgba(59, 130, 246, 1);
  }

/* --
.title-background{
  display: flex;
  position: relative;
  overflow: hidden;
}

.title-background::before{
  content: "";
  position: absolute;
  -webkit-filter: blur(80px);
  background-image: url(https://cdn.sanity.io/images/j2di4tpb/production/0e4943aa28c0a3acddab7c7c46975a1caf0c58eb-1815x1021.jpg);
  background-position: center;
  z-index: 1;
  width: 50%;
  height: 100%;
  top: 100px;
  left: 300px;
  animation-name: orb-move;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 24px;
}

@keyframes orb-move{
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}
-*/

}

@layer base {
    h1 {
      @apply font-manrope text-4xl font-bold text-black dark:text-white tracking-wider;
    }

    h2 {
      @apply font-manrope text-2xl font-bold mt-9 -mb-2 text-black dark:text-white tracking-wide;
    }

    h3 {
      @apply font-manrope text-xl font-bold mt-7 -mb-2 text-black dark:text-white tracking-wide;
    }

    h4 {
      @apply text-base font-semibold mt-7 mb-1 text-black dark:text-white tracking-wide;
    }

    h5 {
      @apply text-base font-semibold mt-7 mb-1 text-black dark:text-white tracking-wide;
    }

    h6 {
      @apply text-base font-semibold mt-7 mb-1 text-black dark:text-white tracking-wide;
    }

    p {
      @apply text-base my-6 text-black dark:text-white;
    }

    strong {
      @apply font-medium;
    }

    a{
      @apply border-b border-dotted border-blue-400;
    }

    ul {
      @apply list-disc my-6 text-black dark:text-white pl-6;
    }

    li {
      @apply mt-3;
    }

    figcaption{
      @apply  text-black dark:text-white text-base mt-2;
    }

  body {
    @apply min-h-screen m-0 w-full;
  }
  html {
    @apply min-h-screen m-0 w-full;
  }
  .icons {
    @apply bg-blue-200 text-blue-700;
  }
  .images {
    @apply bg-yellow-200 text-yellow-700;
  }
  .type {
    @apply bg-green-200 text-green-700;
  }
  .learn {
    @apply bg-pink-200 text-pink-700;
  }
  .software {
    @apply bg-purple-200 text-purple-700;
  }
  .paid {
    @apply bg-yellow-200 text-yellow-700;
  }
  .free {
    @apply bg-green-200 text-green-700;
  }
  .inspiration {
    @apply bg-orange-200 text-orange-700
  }
  .accessibility {
    @apply bg-fuchsia-200 text-fuchsia-700;
  }
  .colour {
    @apply bg-teal-200 text-teal-700
  }

  .no-underline {
    @apply border-b-0
  }

  .blue {
    @apply bg-blue-500 hover:bg-blue-600
  }

  .pink {
    @apply bg-pink-500 hover:bg-pink-600
  }

  .store {
    @apply bg-teal-200 text-teal-700
  }

  .premium {
    @apply bg-teal-200 text-teal-700
  }


}